
@{
    ViewData["Title"] = "ProjectDetails";
    var msg = "This is my Message";
    bool isLoggedIn = true;
}

<!-- Hero Section Start -->

@if(isLoggedIn)
{
    <h1>@msg</h1>
}
else
{
    <h1>Bye Bye</h1>
}

@* This is a Razor comment it does not show in browser *@
<!-- It show in browser  -->
<section class="bg-secondary pt-20">
    <div class="max-w-1075 mx-auto banner-contents" data-aos="flip-down" data-aos-delay="300">
        <div class="row pb-12">
            <div class="col-12 col-lg-6 mb-10">

                <ul class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0">
                    <li class="blog-meta-item">
                        <a href="#">UI Design</a>
                    </li>
                    <li class="blog-meta-item">
                        <a href="#">03 May 2019</a>
                    </li>

                </ul>


                <h4 class="text-dark fw-bold font-Syne leading-snug banner-title">
                    Mendero fintech dashboard design
                </h4>
            </div>
            <div class="col-12 col-lg-6">
                <ul class="d-flex flex-wrap gap-y-6 gy-lg-0 clients-info">
                    <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                        <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">Client</span>
                        <h2 class="text-dark text-15 fw-bold font-sans leading-none">
                            Mashorom
                        </h2>
                    </li>
                    <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                        <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">Category</span>
                        <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                            User
                            Experience
                        </h4>
                    </li>
                    <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                        <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">Tools</span>
                        <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                            Figma, Webflow
                        </h4>
                    </li>
                    <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                        <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">
                            Start
                            date
                        </span>
                        <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                            09/01/ 2020
                        </h4>
                    </li>
                    <li class="d-flex flex-wrap flex-column gap-2 clients-info-item">
                        <span class="clients-info-text text-sm fw-normal font-Inter leading-tight">
                            End
                            date
                        </span>
                        <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                            09/01/ 2020
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mb-12">
            <div class="col-12">
                <img class="w-full rounded-20" src="~/assets/images/blog-details/banner.png" alt="banner">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

