
@{
    ViewData["Title"] = "Save";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<h1>Save</h1>

<form>
    <label>Write Subjects</label>
    <input type="text" name="Subjects[0]" />
    <input type="text" name="Subjects[1]" />
    <input type="text" name="Subjects[2]" />
    <input type="submit" value="Save" />    
</form>